html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
  font-family: sans-serif;
}

h1 {
  color: white;
}

p {
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1A1A1A;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.auth-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-items: center;
}

.login-btn {
  background-color: #00DFA2;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.register-btn {
  display: block;
  color: #00DFA2;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}

.post-section {
  background-color: #00DFA2;
  height: 60vh;
}

.post-section h3 {
  color: #FAFAFA;
  text-align: center;
}

.footer {
  background-color: #00DFA2;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #FAFAFA;
  text-align: center;
}

.hamburger-icon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 30px;
  height: 24px;
  cursor: pointer;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

.hamburger-icon.open span:nth-child(1) {
  transform: rotate(45deg) translatey(14px) translateX(1px) 
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-14px) 
}

.menu-panel {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  background: #111;
  color: white;
  transition: right 0.3s ease;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-panel.open {
  right: 0;
}

.menu-panel nav a {
  display: block;
  margin: 1rem 0;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}


.post-section {
  background-color: #00DFA2;
  padding: 1rem;
  overflow: hidden;
  padding: 0;
  height: 40vh;
}

.post-section h3 {
  color: #000000;
  text-align: center;
  margin-bottom: 1rem;
}

.posts-container {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  gap: 2rem;
  padding-bottom: 15rem;
  padding-top: 2rem;
}

.posts-container::-webkit-scrollbar {
  height: 0;
}

.post-wrapper {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.post-link {
  text-decoration: none;
  color: inherit;
}


.post {
  background-color: #FAFAFA;
  padding: 1rem;
  border-radius: 8px;
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post:hover {
  transform: scale(1.05);
}

.post h3 {
  margin-top: 0;
  color: #1A1A1A;
  text-decoration: 0;
}

.post p {
  color: #1A1A1A;
  text-align: center;
  text-decoration: 0;
}
.post-section a {
  text-decoration: none;
}

.auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
}

.username {
  color: white;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.logout-btn {
  color: #00DFA2;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  background: transparent;
  border: none;
}